article{
    margin-top: 120px;
    margin-left: 60px;
    text-align: center;
    border-top: 2px black dashed;
    border-bottom: 2px black dashed;
    padding: 0px 0px 20px 0px;
}
div p.TitulosForm{
    font-family: 'Merriweather', serif;
}